footer {
  background-color: #ccd4fa; /* Fondo oscuro */
  color: rgb(1, 1, 176); /* Texto blanco */
  padding: 20px 0;
  text-align: center; /* Centrar el texto del copyright */
}

.gridContainer {
  display: flex;
  justify-content: space-between; /* Espaciar las columnas uniformemente */
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
  padding-bottom: 20px; /* Espaciado inferior */
}

.footer-column {
  width: 30%; /* Ajustar el ancho de cada columna */
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: rgb(1, 1, 176);
  text-decoration: none;
}

.normal-link:hover{
  text-decoration: underline;
}

.especial-link:hover{
  text-decoration: none;

}

footer p {
  margin-top: 20px;
  font-size: 0.9rem;
}

/* Estilo para los íconos en el footer */
.footer-icon {
  width: 30px; /* Ajusta este tamaño según tus necesidades */
  height: 30px; /* Asegúrate de mantener proporción */
  margin-right: 8px; /* Espaciado entre el ícono y el texto */
  vertical-align: middle; /* Centra el ícono con el texto */
}
