footer {
  background-color: #242861; /* Fondo oscuro */
  color: white; /* Texto blanco */
  padding: 20px 0;
  text-align: center; /* Centrar el texto del copyright */
}

.gridContainer {
  display: flex;
  justify-content: space-between; /* Espaciar las columnas uniformemente */
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
  padding-bottom: 20px; /* Espaciado inferior */
}

.footer-column {
  width: 30%; /* Ajustar el ancho de cada columna */
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline; /* Efecto hover en los enlaces */
}

footer p {
  margin-top: 20px;
  font-size: 0.9rem;
}
