/* Oculta el botón de descarga */

/* Oculta el botón de descarga */
button[aria-label="Download"] {
    display: none !important;
}

button[aria-label="Open file"] {
    display: none !important;
}

button[aria-label="Print"] {
    display: none !important;
}

button[aria-label="More actions"] {
    display: none !important;
}

button[aria-label="Search"] {
    display: none !important;
}

.rpv-default-layout__sidebar {
    display: none !important;
}

html, body {
    background-image: url('../assets/quienesSomos.webp');
}

.List {
    text-align: right;
    color: black !important;
    
}