.cards{
    padding-top: 100px;
}

.card-item{
    margin: 0 auto;
    width: auto;
    height: 200px;
    object-fit: contain;
}


.img-item{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
    